body {
  font-family: Frutiger,"Frutiger Linotype",Univers,Calibri,"Gill Sans","Gill Sans MT","Myriad Pro",Myriad,"DejaVu Sans Condensed","Liberation Sans","Nimbus Sans L",Tahoma,Geneva,"Helvetica Neue",Helvetica,Arial,sans-serif;
}
h1, h2, h3, h4, h5, h6 {
  font-family: Constantia,"Lucida Bright",Lucidabright,"Lucida Serif",Lucida,"DejaVu Serif","Bitstream Vera Serif","Liberation Serif",Georgia,serif;
}

/* iD Overrides */
a:visited, a {
  color: #b28000;
}
a:hover {
  color: #b17f00;
}
.help-wrap .toc li a.selected,
.layer-list li.active,
.minimap-toggle.active {
  background: #f5d176;
}
.toggle-list > label {
  color: #b28000;
}
button.active,
button.action {
  background: #b28000;
}
button.action:focus,
button.action:hover {
  background: #b17f00;
}
.feature-list-item .entity-type {
  color: #b28000;
}
.feature-list-item:hover .entity-type {
  color: #b17f00;
}
.preset-icon-npmaki {
  position: absolute;
  top: 17px;
  left: 17px;
  margin: auto;
}
.preset-icon-npmaki-area
.preset-icon-npmaki-line {
  margin-left: 18px;
}
.checkselect label:last-of-type {
  color: #b28000;
}
.map-control > button.active,
.map-control > button.active:hover {
  background: #b28000;
}
.layer-list li,
.minimap-toggle {
  color: #b28000;
}
.hide-toggle:before {
  border-left:  8px solid #b28000;
}
.hide-toggle.expanded:before {
  border-top:  8px solid #b28000;
}
.map-data-control li:hover .select-box,
.map-data-control li.selected .select-box,
.background-control li:hover .select-box,
.background-control li.selected .select-box {
  border: 2px solid #b28000;
}
.modal-actions button,
.save-success a.button {
  color: #b28000;
}
.save-success .button.osm:before {
  /*
  background:transparent url(img/poi-logo.png) no-repeat;
  width: 230px;
  */
}
.mode-save h3 small.count {
  background: #b28000;
}
.notice .zoom-to:hover {
  background: #f5d176;
}

.geocode-item {
  visibility: hidden;
}

.map-in-map {
  background-color: rgb(230, 229, 224);
}

.zoom-in-warning {
  background-color: #d9edf7;
  border: 1px solid #bcd8f1;
  border-radius: 5px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  color: #31708f;
  margin: auto;
  padding: 15px;
  width: 80%;
}

path.stroke.tag-crossing {
  stroke-dasharray: 3,3;
  stroke-linecap: butt;
}

path.stroke.tag-highway-motorway,
path.stroke.tag-highway-motorway_link,
path.stroke.tag-construction-motorway {
    stroke:#882255;
}

path.casing.tag-highway-motorway,
path.casing.tag-highway-motorway_link,
path.casing.tag-construction-motorway {
    stroke:#8f7657;
}

path.stroke.tag-highway-trunk,
path.stroke.tag-highway-trunk_link,
path.stroke.tag-construction-trunk {
    stroke:#aa4499;
}
path.casing.tag-highway-trunk,
path.casing.tag-highway-trunk_link,
path.casing.tag-construction-trunk {
    stroke:#8f7657;
}

path.stroke.tag-highway-primary,
path.stroke.tag-highway-primary_link,
path.stroke.tag-construction-primary {
    stroke:#aa4499;
}
path.casing.tag-highway-primary,
path.casing.tag-highway-primary_link,
path.casing.tag-construction-primary {
    stroke:#8f7657;
}

path.stroke.tag-highway-secondary,
path.stroke.tag-highway-secondary_link,
path.stroke.tag-construction-secondary {
    stroke:#cc6677;
}
path.casing.tag-highway-secondary,
path.casing.tag-highway-secondary_link,
path.casing.tag-construction-secondary {
    stroke:#8f7657;
}

path.stroke.tag-highway-tertiary,
path.stroke.tag-highway-tertiary_link,
path.stroke.tag-construction-tertiary {
    stroke:#fff4ad;
}
path.casing.tag-highway-tertiary,
path.casing.tag-highway-tertiary_link,
path.casing.tag-construction-tertiary {
    stroke:#8f7657;
}

/* Buildings */

path.stroke.tag-building,
path.stroke.tag-amenity-shelter {
    stroke: rgb(170, 68, 153);
}
path.fill.tag-building,
path.fill.tag-amenity-shelter {
    stroke: rgba(170, 68, 153, 0.3);
    fill: rgba(170, 68, 153, 0.3);
}
.preset-icon-fill-area.tag-building,
.preset-icon-fill-area.tag-amenity-shelter {
    border-color: rgb(170, 68, 153);
    background-color: rgba(170, 68, 153, 0.3);
}

.preview-layer-attribution {
    position: absolute;
    color: #888;
    font-size: 10px;
    left: 10px;
}
