.btn-group-wrapper {
  margin-bottom: 35px;
  text-align: center;
}
.btn-lg {
  line-height: 36px;
}
  .btn-lg span:last-child {
    margin-left: .6em;
  }
  .btn-lg .fa.pull-left {
    margin-right: 0;
  }
.table.table-striped > tbody > tr > td {
  vertical-align: middle;
}
td:last-child {
  text-align: right;
}
iframe {
  margin-top: 10px;
}
form.park {
  margin-top: 20px;
}
.embed-container {
  height: 0;
  max-width: 100%;
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
}
  .embed-container iframe,
  .embed-container object,
  .embed-container embed {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }